<!-- overrides/main.html文件内容 -->
{% extends "base.html" %}

{% block content %}

  {{ super() }}
<h2 id="__comments">{{ lang.t("meta.comments") }}</h2>
<div id="tcomment"></div>
<script src="https://cdn.staticfile.org/twikoo/1.6.10/twikoo.all.min.js"></script>
<script>
twikoo.init({
  envId: 'https://twikoo.rainyun.pro', // 腾讯云环境填 envId；Vercel 环境填地址（https://xxx.vercel.app）
  el: '#tcomment', // 容器元素
  // region: 'ap-guangzhou', // 环境地域，默认为 ap-shanghai，腾讯云环境填 ap-shanghai 或 ap-guangzhou；Vercel 环境不填
  // path: location.pathname, // 用于区分不同文章的自定义 js 路径，如果您的文章路径不是 location.pathname，需传此参数
  // lang: 'zh-CN', // 用于手动设定评论区语言，支持的语言列表 https://github.com/imaegoo/twikoo/blob/main/src/client/utils/i18n/index.js
})
</script>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6039560071056771" crossorigin="anonymous"></script>
      <!-- live2d小部件 -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome/css/font-awesome.min.css">
  <script src="https://cdn.jsdelivr.net/gh/stevenjoezhang/live2d-widget/autoload.js"></script>
  <!-- live2d小部件 -->
{% endblock %}

