body {
  background: url(trianglify-bg.svg) no-repeat;
  background-size: contain;
}

[data-md-color-primary=white] .md-header,
[data-md-color-primary=white] .md-tabs {
  background: linear-gradient(90deg,#f3fcf0,#e3f6e0a8,#cbf0f28c,#adc2d861);
}

.md-content h2 {
  border-bottom: .1rem solid rgba(0,0,0,.07);
}

#wrap {
            width: 300px;
            text-align: center;
            overflow: hidden;
            margin: 50px 50px;
        }
        
        .box {
            width: 1200px;
            height: auto;
            display: inline-block;
            animation: b1 10s infinite;
        }
        
        .box img {
            width: 300px;
            float: left;
        }
        
        @-webkit-keyframes b1 {
            0% {
                margin-left: 0px;
            }
            15% {
                margin-left: 0px;
            }
            20% {
                margin-left: -300px;
            }
            30% {
                margin-left: -300px;
            }
            35% {
                margin-left: -600px;
            }
            45% {
                margin-left: -600px;
            }
            50% {
                margin-left: -900px;
            }
            60% {
                margin-left: -900px;
            }
            65% {
                margin-left: -600px;
            }
            75% {
                margin-left: -600px;
            }
            80% {
                margin-left: -300px;
            }
            90% {
                margin-left: -300px;
            }
            100% {
                margin-left: 0px;
            }
        }